### Calculate the Correlation between Quantity & Sales.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
sales_df = pd.read_excel('F:/GreyCampus-Datascience/DS5/Statistics/Stats-W3-Assignment+1.xlsx')
sales_df

    Quantity  Sales
0         10     11
1          7     50
2          3     42
3          2     50
4          3     68
5          8     32
6          5     80
7          3     45
8          4     22
9          3     91
10         8     63
11         9     40
12         5     20
13         6     63
14        10     11

In [5]:
sales_df['Quantity'].corr(sales_df['Sales'])

-0.48037794818740215

In [6]:
corrmat = sales_df.corr()
corrmat

          Quantity     Sales
Quantity  1.000000 -0.480378
Sales    -0.480378  1.000000

### We can observe that there is a low negative correlation between Sales and Quantity.