### Identify whether the Students & Outcome column has any correlation between them or not using Chi-Sq test

In [5]:
import pandas as pd
import numpy as np

In [7]:
result_df = pd.read_excel('F:/GreyCampus-Datascience/DS5/Statistics/Stats-Week7-Project+1.xlsx')
result_df

   Students Outcome
0      Rose    Pass
1     Penny    Pass
2      John    Pass
3    Stuart    Fail
4   Micheal    Pass
..      ...     ...
95     John    Pass
96   Stuart    Pass
97   Stuart    Pass
98  Micheal    Fail
99    Penny    Pass

[100 rows x 2 columns]

#### Chi Squared test for Independence

In [12]:
from scipy.stats import chi2_contingency 

pd.crosstab(result_df.Students, result_df.Outcome, margins = True)

Outcome   Fail  Pass  All
Students
John         8     8   16
Micheal      7    12   19
Penny       10     9   19
Rose        10    13   23
Stuart      13    10   23
All         48    52  100

In [14]:
stat, p, dof, expected = chi2_contingency(pd.crosstab(result_df.Students, result_df.Outcome))
stat, p, dof, expected 

print("P value: ", p)
print("Test Statistic: ", stat)
print("Degrees of Freedom: ", dof)

P value:  0.7368219602766379
Test Statistic:  1.9942205010854894
Degrees of Freedom:  4

#### The P value is greater than 0.05. Hence, we conclude that there is no correlation between the two categorical variables Students and Outcome. They are Independent of each other.

### Alternate method using pingouin

In [28]:
import pingouin as pg

exp, obs,stat= pg.chi2_independence(result_df, 'Students', 'Outcome', correction=True)

print("Observed Contingency Table: \n\n", obs)

Observed Contingency Table:

 Outcome   Fail  Pass
Students
John         8     8
Micheal      7    12
Penny       10     9
Rose        10    13
Stuart      13    10

In [29]:
print(stat)

                 test    lambda      chi2  dof      pval    cramer     power
0             pearson  1.000000  1.994221  4.0  0.736822  0.141217  0.171063
1        cressie-read  0.666667  1.997745  4.0  0.736174  0.141342  0.171310
2      log-likelihood  0.000000  2.008870  4.0  0.734127  0.141735  0.172088
3       freeman-tukey -0.500000  2.020866  4.0  0.731921  0.142157  0.172928
4  mod-log-likelihood -1.000000  2.036096  4.0  0.729120  0.142692  0.173997
5              neyman -2.000000  2.076703  4.0  0.721654  0.144108  0.176853

#### The results are similar to the previous test. The P value is greater than 0.05. Hence, we conclude that there is no correlation between the two categorical variables Students and Outcome. They are Independent of each other.